body {
    background-image: url('https://img1.etsystatic.com/013/0/7045804/il_fullxfull.461034969_bg79.jpg');
    font-family: monospace;
    color: #704C00;
    text-align: center;
}

h1 {
    
    font-size: 50px;
    margin: 20px;
    background-color: #fea73d;
    margin-left: 500px;
    margin-right: 500px;
    border-radius: 20px;
    border: 3px solid #704C00;
}

nav {
    color:  #704C00;
    font-size: 20px;
    border-style: solid;
    margin-left: 500px;
    margin-right: 500px;
    background-color: #fea73d;
    border-radius: 20px;
    margin-top: 5px;
}

ul {
    border-radius: 20px;
    border: 3px solid #704C00;
}

li {
    display: inline;
}


p {
    color: #704C00;
    background-color: #fea73d;
   
    margin-left: 125px;
    margin-right: 125px;
    font-size: 20px;
    margin-top: 50px;
    margin-bottom: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 20px;
    border: 3px solid #704C00;
}

img {
    width: 300px;
    height: 290px;
    border-radius: 20px;
    border: 3px solid #704C00;
}

